@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter&family=Irish+Grover&display=swap');

body{
    background: linear-gradient(to bottom, #4D4A4A, #404545,#4D4A4A);
    background-position: center;
    background-attachment: fixed;
}

.loader{
    color: white;
}

.spinning {
    animation : spinning 1s linear 1s infinite alternate;
}

.pizzaicon:hover{
    cursor: pointer;
}

.card-title{
    text-align: center;
}

.rating-container {
    text-align: center;
    margin-bottom: 30px;
}

.deleteicon, .updateicon {
    float: right;
}

.card:last-child {
    margin-bottom: 100px !important;
}

.footer{
    padding: 12px;
    background: white;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

@media only screen and (min-width: 600px){
    .movie-image{
        max-width: 50%;
        margin: auto !important;
        display: block;
    }
}

@keyframes  spinning {
    from {
        transform: rotateZ(0deg) scale(1);
    }

    to {
        transform : rotateZ(360deg) scale(1.5);
    }
}