@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Inter&family=Irish+Grover&display=swap');

body {
    background: linear-gradient(to bottom, #FF0000, #404545, #C96363);
    background-position: center;
    background-attachment: fixed;
}

#nav-container {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(red, black, red);
    box-shadow: 0px 0px 10px black;
}

.loader {
    color: white;
}

.spinning {
    animation: spinning 1s linear 1s infinite alternate;
}

.pizzaicon:hover {
    cursor: pointer;
}

.card-title {
    text-align: center;
}

.rating-container {
    text-align: center;
    margin-bottom: 30px;
}

.deleteicon,
.updateicon {
    float: right;
}

.card {
    box-shadow: 0px 0px 10px black;
}

.card:last-child {
    margin-bottom: 100px !important;
}

.footer {
    padding: 12px;
    background: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: linear-gradient(red, black, red);
    color: white;
    box-shadow: 0px 0px 10px black;
    z-index: 3;
}

.card-description {
    max-height: 300px;
    overflow: scroll;
    background: linear-gradient(to bottom, red, black, red);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.movie-image {}

@media only screen and (min-width: 600px) {
    /* .movie-image{
        max-width: 50%;
        margin: auto !important;
        display: block;
    } */
}

@keyframes spinning {
    from {
        transform: rotateZ(0deg) scale(1);
    }

    to {
        transform: rotateZ(360deg) scale(1.5);
    }
}